<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
    <!-- <p appBasicHighlight>Style me with basic directive</p>
    <p appBetterHighlight >Style me with better directive</p> -->

    <!-- <div [ngSwitch]="value">
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchCase="100">Value is 100</p>
      <p *ngSwitchDefault>Value is default</p>
    </div> -->
  </div>
</div>